extends ../templates/layout

block content
  h1 Sign Up

  form(action="/signup", method="POST")
    .form-group
      input.form-control(type='text', name="username", placeholder='Username')
    .form-group
      input.form-control(type='password', name="password", placeholder='Password')
    button(type="submit").btn.btn-primary Register
